body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.Main
{     /* This the main div which occupy the whole page and conatain all others div also  */
    height: 100vh;  /* */
    display:flex;
    background-color: crimson;
    justify-content: center; /* 10 div align in center but top of the page */
    align-items: center;
    padding-top: 120px;
}
.wave{
    width: 5px;
    height: 100px;
    background:linear-gradient(45deg,white,white);
    margin: 10px; /*Margin means the gap between all 10 div  */
    animation: wave 1s linear infinite;
    border-radius: 20px;   /* top and bottom of the div radius adjust  */
}
.wave:nth-child(2)
{
    animation-delay:0.1s;
}
.wave:nth-child(3)
{
    animation-delay: 0.2s;
}
.wave:nth-child(4)
{
    animation-delay:0.3s;
}
.wave:nth-child(5)
{
    animation-delay: 0.4s;
}
.wave:nth-child(6)
{
    animation-delay:0.5s;
}
.wave:nth-child(7)
{
    animation-delay: 0.6s;
}
.wave:nth-child(8)
{
    animation-delay:0.7s;
}
.wave:nth-child(9)
{
    animation-delay: 0.8s;
}
.wave:nth-child(10)
{
    animation-delay:0.9s;
}

@keyframes wave{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

